/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

/public/img/after-sale/*
/public/img/banner/*
/public/img/blog/*
/public/img/product/*
/public/img/profile/*
/public/img/promotion/*
/public/img/testimonial/*
!/public/img/after-sale/.gitkeep
!/public/img/banner/.gitkeep
!/public/img/blog/.gitkeep
!/public/img/product/.gitkeep
!/public/img/profile/.gitkeep
!/public/img/promotion/.gitkeep
!/public/img/testimonial/.gitkeep
